.idea/
*.iws
*.iml
*.ipr

out/
target/
build/

lib/
.libs/
*.jar
*.war
*.ear

*.log

**/mvn/wrapper/maven-wrapper.jar
**/mvn/wrapper/maven-wrapper.properties

*.yaml
#*.properties
.DS_Store
Thumbs.db

*.sublime-workspace

.gradle/
!gradle-wrapper.jar
!gradle-wrapper.property

.project
.classpath

META-INF/*

nbproject/
