.idea/
*.iws
*.iml
*.ipr

out/
target/
build/

lib/
.libs/
*.jar
*.war
*.ear

*.log

**/mvn/wrapper/maven-wrapper.jar
**/mvn/wrapper/maven-wrapper.properties

*.yaml
*.yml
*.properties

.DS_Store
Thumbs.db

*.sublime-workspace

.gradle/
!gradle-wrapper.jar

.project
.classpath

nbproject/
